
<div class="card rounded shadow-sm">
    <form [formGroup]="form">

  
        <div class="p-3">
            <!-- <p>Form value : {{form.value | json}}</p>
            <p>Form value : {{form.status | json}}</p> -->
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label>Tema</label>
                    <input type="text" class="form-control is-invalid" formControlName="tema" placeholder="Insira o Tema"
                    [ngClass]="{'is-invalid' : form.get('tema')?.errors && form.get('tema')?.touched}"
                    >
                    <div *ngIf="f.tema.errors?.required" class="invalid-feedback">
                        tema é obrigatorio
                    </div>
                    <div *ngIf="f.tema.errors?.minlength" class="invalid-feedback">
                        O tema deve ter no mínimo 4 caracteres.
                    </div>
                    
                    <div *ngIf="f.tema.errors?.maxlength" class="invalid-feedback">
                        O tema deve ter no maximo 50 caracteres.
                    </div>
                    
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-8">
                    <label>Local</label>
                    <input type="text" class="form-control is-invalid" formControlName="local" placeholder=""
                    [ngClass]="{'is-invalid' : form.get('local')?.errors && form.get('local')?.touched}">
                    <div *ngIf="f.local.errors?.required"  class="invalid-feedback">
                        Local é obrigatorio
                    </div>
                   
                    
                    
                </div>
                <div class="form-group col-md-4">       
                    <label>Data e Hora</label>
                    <input type="datetime" class="form-control is-invalid" formControlName="dataEvento" placeholder=""
                    [ngClass]="{'is-invalid' : form.get('dataEvento')?.errors && form.get('dataEvento')?.touched}">
                    <div class="invalid-feedback">
                        Data é obrigatorio
                    </div>
                    <div *ngIf="f.dataEvento.erros?.required" class="invalid-feedback">
                        Data é obrigatorio
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-2">
                    <label>Quantidade de Pessoas</label>
                    <input 
                        type="text" 
                        class="form-control" 
                        formControlName="qtdPessoas" 
                        placeholder=""
                        [ngClass]="{'is-invalid' : f.qtdPessoas.errors && f.qtdPessoas.touched}"
                    >
                    <div *ngIf="f.qtdPessoas.errors?.required" class="invalid-feedback">
                        Quantidade de pessoas é obrigatória
                    </div>
                    <div *ngIf="f.qtdPessoas.errors?.max" class="invalid-feedback">
                        Quantidade de pessoas não pode ser maior que 2000
                    </div>
                </div>
                
                <div class="form-group col-md-4">
                    <label>Telefone</label>
                    <input type="text" class="form-control is-invalid" formControlName="telefone" placeholder="(000) 90000-0000"
                    [ngClass]="{'is-invalid' : form.get('telefone')?.errors && form.get('telefone')?.touched}"
                    >
                    <div *ngIf="f.telefone.errors?.required" class="invalid-feedback">
                        Telefone é obrigatorio
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <label>Email</label>
                    <input type="text" class="form-control is-invalid" formControlName="email" placeholder="e-mail"
                    [ngClass]="{'is-invalid' : form.get('email')?.errors && form.get('email')?.touched}"
                    >
                    <div *ngIf="f.email.errors?.required" class="invalid-feedback">
                        E-mail é obrigatorio
                    </div>
                    <div *ngIf="f.email.errors?.email" class="invalid-feedback">
                        formato Invalido!
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <label>Imagem</label>
                    <input type="text" class="form-control is-invalid" formControlName="imagemURL" placeholder="imagem.png"
                    [ngClass]="{'is-invalid' : form.get('imagemURL')?.errors && form.get('imagemURL')?.touched}"
                    >
                    <div *ngIf="f.imagemURL.errors?.required" class="invalid-feedback">
                        Imagem é obrigatorio
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="d-flex">
                <button class="btn btn-outline-secondary mr-auto border" (click)="resetForm()">
                    Cancelar Alteração
                </button>
                <button class="btn btn-success" [disabled]="!form.valid">
                    <!-- <span class="spinner-border spinner-border-sm mr-1"></span> -->
                    Salvar Evento
                </button>
            </div>
        </div>
    </form>
    
</div>
